# Data repositories
data/

# Virtual environment
venv/

# Wykład 
Wykład 1.md

# Laboratoria
Lab*/

# Output
**/output_*.txt

# Wyniki do wysłania na MS-Teams
Wyniki/

# Z labów
requirements_lab.txt

# Dataset projektowy
Projekt/Food_and_Vegetables
