# Data repositories
data/

# Virtual environment
venv/

# Wykład 
Wykład 1.md

# Laboratoria
Lab*/

# Output
**/output_*.txt

# Cache
__pycache__

# Wyniki do wysłania na MS-Teams
Wyniki/

# Z labów
requirements_lab.txt

# --- Projekt ---

# Transformacje danych
!Projekt/src/data
# Skrypt z HSA_OVERRIDE oraz PYTHONPATH
exports.sh

# ROCm test stuff
ROCm/